@import url('https://fonts.googleapis.com/css?family=Monoton|Sigmar+One&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Sigmar One', cursive;
}

h1, h2, h3, h4, h5 {
    font-family: 'Monoton', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/*starting from the top of the page and working my way down*/
 body{
	 margin: 20px;
 }

.navbar{
	margin:20px; 
}
.header{
	position:absolute; 
	top:0px;
	
}

.navbar{
	position:fixed;
	background-color:darkgrey;
	padding:10px;
	border-radius: 10px;
}
.navbar a{
	color: lightgrey; 
	text-decoration: none;
	text-align: center;
	padding:25px;
	margin:25px;
	
}

.navbar a:hover{
	color:black;
}

nav{
	display:inline;
}

h1{
	font-size: 100px;
	margin:150px auto 50px 250px;	
	text-align: center;
	position: relative;
	left:-30%;
}

.button{
	border: black solid 2px;
	font-size: 30px;
	text-align: center;
	padding: 10px 20px;
	max-width: 250px;
	margin: auto auto auto 240px;
	position: relative;
}

.button:hover{
	background-color:lightgrey;
}

.topsection{
	border-bottom: black 2px solid;
	margin-left:2% ;
	margin-right: 5%;
	margin-bottom: 50px;
	padding-bottom: 150px;
}

.mid{
	display: inline-block;
	position: absolute;
	top: 175px;
	right:8%;
	width: 500px;
	height:500px;
}


.maincontent .features, .about{
	max-width: 45%;
	display: inline-block; 
	position: relative;
	left:5%;
	padding: 7%;
}

 .middle-img{
	 display:block;
	 position:relative;
	 width: 90%;
	 left:5%;

 }

 .services, .product , .vision{
	 display:inline-block;
	 position: relative; 
	 max-width: 33%;
	 padding:5%;
	 margin-top: 40px;
	 margin-bottom: 20px;
 }

 .maincontent{
	 border-bottom: black 2px solid;
	 margin: 20px;
	margin-right:6%;
 }
 #line{
	 line-height: 40px; 
 }

 #copy{
	 position: relative;
	 left:33%;	
	 padding-bottom: 150px;
 }

.footer{
	position: relative ;
	left: 60px;
	top: 30px;
}
.footer h4{
	padding:25px;
}